DATABASE_URL=postgres://proxykey:proxykey@localhost:5432/proxykey
DATABASE_POOL_MAX=10
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002,http://127.0.0.1:3000,http://127.0.0.1:3001,http://127.0.0.1:3002
PORT=4000
CASPER_NODE_RPC_URL=https://node.testnet.casper.network/rpc
CASPER_DEPLOY_VERIFY_ATTEMPTS=8
CASPER_DEPLOY_VERIFY_DELAY_MS=2000

PROXYKEY_API_BASE_URL=http://localhost:4000
PROXYKEY_CONTRACT_HASH=hash-ea3286e01d2a2631293212506ea22e18eea25b1336e1b5cf06d493bb55a1f3b7
PROXYKEY_DEPOSIT_SESSION_WASM_SHA256=191100cbb3ada84c7e7eebd5b347d6ff58eba95957bfa8a7980c70d0813b9a8c
RWA_SERVICE_ACCOUNT=account-hash-e477f3fc9ee23eb4a63afe976e2cd5865922432728fcb00b5ac42c03855c00a7
ODRA_CASPER_LIVENET_NODE_ADDRESS=https://node.testnet.casper.network/rpc
ODRA_CASPER_LIVENET_CHAIN_NAME=casper-test
ODRA_CASPER_LIVENET_EVENTS_URL=https://node.testnet.casper.network/events
ODRA_CASPER_LIVENET_SECRET_KEY_PATH=./casper_temp_private_key.pem

VITE_CSPRCLICK_APP_ID=csprclick-template
VITE_PROXYKEY_API_BASE_URL=http://localhost:4000
VITE_PROXYKEY_CONTRACT_HASH=hash-ea3286e01d2a2631293212506ea22e18eea25b1336e1b5cf06d493bb55a1f3b7
VITE_PROXYKEY_DEPOSIT_SESSION_WASM_URL=/wasm/proxykey_deposit_session.wasm
VITE_WALLETCONNECT_PROJECT_ID=
