.DS_Store
.env
.env.*
!.env.example

node_modules
.turbo
dist
coverage
.turbo
apps/*/node_modules
apps/*/.turbo
apps/*/dist
packages/*/node_modules
packages/*/.turbo
packages/*/dist

contracts/*/target

artifacts/screenshots
