.DS_Store
.env
.env.*
!.env.example

node_modules
.pnpm-store
.turbo
dist
coverage
.turbo
apps/*/node_modules
apps/*/.turbo
apps/*/dist
packages/*/node_modules
packages/*/.turbo
packages/*/dist

contracts/*/target
contracts/**/target

artifacts/screenshots

casper_temp_private_key*
*.pem
*.secret
*.private
